<p id="welcome-text">Welcome to Tales of Time</p>
<p id="ready-text" class="purple-color">Are you ready, Adventurer?</p>
<div class="primary-container-bg">
    <button id="download-button" type="button" class="btn btn-secondary btn-lg btn-block" (click)="OnPressDownload()">
        DOWNLOAD
    </button>
    <p id="download-game-text" class="purple-color">Download the game client to get started!</p>
    <p id="already-have-text" class="purple-color">Do you already have world of Warcraft?</p>
    <p id="only-works-with-text">*ONLY WORKS WITH WOTLK 3.3.5a</p>
    <img id="arrox" src="assets/welcome/arrox.png"/>
    <div (click)="OnPressSelectGamePath()">
        <input id="select-game-field" value="{{clientDirectory}}" type="text" class="form-control" aria-describedby="emailHelp" disabled>
    </div>
    <button id="go-button" type="button" class="btn btn-secondary btn-lg btn-block" (click)="OnPressGo()">
        GO
    </button>
</div>