.app-navbar {
    background-color: rgb(33, 19, 50);
}

.nav-item > a {color:white;}

@media (min-width: 768px) {
.navbar-brand.abs
    {
        position: absolute;
        width: 100%;
        left: 0;
        text-align: center;
    }
}    

#app-bootstrap-navbar {
    padding: 0 !important;
    height: 50px;
}

.app-navbar-btn {
    height: 100%;
    color: white;
}

.right-menu {
    margin-left:4%;
}

.navbar-separator {
    height: 3px;
    width: 100%;
    background-color: rgb(91, 57, 132);
}

.logo_container {
    height:100%;
    width:12%;
    background-color: rgb(20, 12, 31);
}

.social-container > li > a {
    margin-right: 8%;
    color: rgb(74, 44, 108);
}

.social-container > a:hover {
    color: white !important;
}

#leftNavbar {
    width: 25% !important;
}
