<div class="app-navbar">
  <nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="#">Tales of Time</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fab fa-youtube"></i></a>
        </li>

        <li class="nav-item active">
          <a class="nav-link" href="#"><i class="fab fa-discord"></i><span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fab fa-twitter"></i></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fab fa-facebook"></i></a>
        </li>
      </ul>

      <button class="app-navbar-btn app-navbar-btn-margin btn my-2 my-sm-0" type="submit">
        <i class="fas fa-home"></i>
        Home
      </button>

      <button class="app-navbar-btn app-navbar-btn-margin btn my-2 my-sm-0" type="submit">
        <i class="fas fa-globe-americas"></i>
        Website
      </button>

      <button class="app-navbar-btn app-navbar-btn-margin btn my-2 my-sm-0" type="submit">
        <i class="fas fa-align-justify"></i>
        Changelog
      </button>

      <button class="app-navbar-btn app-navbar-btn-margin btn my-2 my-sm-0" type="submit">
        <i class="fas fa-puzzle-piece"></i>
        Addons
      </button>

      <button class="app-navbar-btn btn my-2 my-sm-0" type="submit">
        <i class="fas fa-comment-alt"></i>
        Forums
      </button>

      <div class="right-menu">
        <button class="app-navbar-btn btn my-2 my-sm-0" type="submit">
          <i class="fas fa-cogs"></i>
        </button>

        <button class="app-navbar-btn btn my-2 my-sm-0" type="submit">
          <i class="far fa-window-minimize"></i>
        </button>

        <button class="app-navbar-btn btn my-2 my-sm-0" type="submit">
          <i class="fas fa-times"></i>
        </button>
      </div>
    </div>
  </nav>
</div>
<div class="navbar-separator"></div>
