<nav id="navbar" class="navbar navbar-dark navbar-expand-lg bg-faded justify-content-center app-navbar">
  <img src="assets/logo_top.png" class="logo"/>
  <div class="navbar-collapse collapse order-0 order-md-0 dual-collapse2">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
      </li>
    </ul>
  </div>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse collapse w-100" id="collapsingNavbar">
      <ul class="navbar-nav w-100 justify-content-center social-container" id="leftNavbar">
          <li class="nav-item">
            <a href="#"><i class="fab fa-youtube fa-lg" (click)="openWebsite('/youtube')"></i></a>
          </li>
          <li class="nav-item">
            <a href="#"><i class="fab fa-discord fa-lg" (click)="openWebsite('/discord')"></i><span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a href="#"><i class="fab fa-twitter fa-lg" (click)="openWebsite('/twitter')"></i></a>
          </li>
          <li class="nav-item">
            <a href="#"><i class="fab fa-facebook fa-lg" (click)="openWebsite('/facebook')"></i></a>
          </li>
      </ul>

      <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
        <li class="nav-item app-navbar-li-margin">
          <button class="app-navbar-btn app-navbar-btn-active app-navbar-btn-margin btn my-2 my-sm-0 navbar-button" type="submit">
            <div class="btn-content-wrapper">
              <i class="fas fa-home fa-sm btn-icon"></i>
              <p class="btn-text">Home</p>
            </div>
          </button>
        </li>

        <li class="nav-item app-navbar-li-margin">
          <button class="app-navbar-btn app-navbar-btn-margin btn my-2 my-sm-0 navbar-button" type="submit" (click)="openWebsite('')">
            <div class="btn-content-wrapper">
            <i class="fas fa-globe-americas fa-sm btn-icon"></i>
            <p class="btn-text">Website</p>
            </div>
          </button>
        </li>

        <li class="nav-item app-navbar-li-margin">
          <button class="app-navbar-btn app-navbar-btn-margin btn my-2 my-sm-0 navbar-button" type="submit" (click)="openWebsite('/changelog')">
            <div class="btn-content-wrapper">
              <i class="fas fa-align-justify fa-sm btn-icon"></i>
              <p class="btn-text">Changelog</p>
            </div>
          </button>
        </li>

        <li class="nav-item app-navbar-li-margin">
          <button class="app-navbar-btn btn my-2 my-sm-0 navbar-button" type="submit">
            <div class="btn-content-wrapper">
              <i class="fas fa-puzzle-piece fa-sm btn-icon"></i>
              <p class="btn-text">Addons</p>
            </div>
          </button>
        </li>

        <li class="nav-item app-navbar-li-margin">
          <button class="app-navbar-btn app-navbar-btn-margin btn my-2 my-sm-0 navbar-button" type="submit" (click)="openWebsite('/forum')">
            <div class="btn-content-wrapper">
              <i class="fas fa-comment-alt fa-sm btn-icon"></i>
              <p class="btn-text">Forums</p>
            </div>
          </button>
        </li>  

        <li class="nav-item">
          <div class="right-menu-container">
            <button class="app-navbar-btn btn my-2 my-sm-0 right-menu-item" type="submit">
              <i class="fas fa-cogs fa-sm"></i>
            </button>

            <button class="app-navbar-btn btn my-2 my-sm-0 right-menu-item" type="submit" (click)="minimizeWindow()">
              <i class="fas fa-window-minimize"></i>
            </button>

            <button class="app-navbar-btn btn my-2 my-sm-0 right-menu-item" type="submit" (click)="quitWindow()">
              <i class="fas fa-times fa-sm"></i>
            </button>
          </div>
        </li>
      </ul>
  </div>
</nav>
<img src="assets/navbar-top-seperator.png" class="divider"/>
