.app-navbar {
    background-color: rgb(33, 19, 50);
    -webkit-app-region: drag;
}

.nav-item > a {color:white;}

@media (max-width: 991px) {
    .logo {
        margin-right:15%;
    }

    .right-menu-item {
        display:none !important;
    }

    .social-container > li {
        display:none !important;
    }
}    

@media (min-width: 991px) {
    #navbar {
        height: 50px;
    }
}

#app-bootstrap-navbar {
    padding: 0 !important;
    height: 50px;
}

.app-navbar-btn {
    height: 49px;
    width: 105px;
    color: white;
    -webkit-app-region: no-drag;
    border-radius: 0;
    border: 0;
    font-size:14px;
    padding:0;
    background: url("assets/navbar/navbar-button-dark.png");
    transition: all .2s ease-in-out;
}

.app-navbar-btn:hover {
    background: url("assets/navbar/navbar-button-dark-hl.png") no-repeat;
}

.app-navbar-btn:active {
    background: url("assets/navbar/navbar-button-dark-pd.png") no-repeat;
}

.app-navbar-btn-inner {
    animation: moving-back .3s forwards;
}

.app-navbar-btn:active .app-navbar-btn-inner {
    animation: moving .3s forwards;
}

@keyframes moving-back {
    from {transform:translateY(3px);}
    to {transform:translateY(0px);}
}

@keyframes moving {
    from {transform:translateY(0);}
    to {transform:translateY(3px);}
}

.social-button {
    -webkit-app-region: no-drag;
    height:49px;
}

.social-button:hover {
    color:white;
}

.app-navbar-btn-active {
    background: url("assets/navbar/navbar-button-light.png") no-repeat;
}

.app-navbar-btn-active:hover {
    background:url("assets/navbar/navbar-button-light-hl.png") no-repeat;;
}

.app-navbar-btn-active:active {
    background:url("assets/navbar/navbar-button-light-pd.png") no-repeat;
}

.app-navbar-li-margin {
    margin-right:20px;
}

.btn-text {
    margin-top:15px;
    display:inline-block;
    margin-left:5px;
}

.btn-icon {
    position:relative;
    top:-1px;
}

.btn-content-wrapper {
    margin:auto;   
}

.right-menu {
    margin-left:4%;
}

.logo {
    margin-right:2%;
}

.social-container > li > img:hover {
    color: white !important;
    transition: color 0.3s linear;
}

.social-container > li > img {
    margin-right: 8%;
    color: rgb(74, 44, 108);
    -webkit-app-region: no-drag;
}

#leftNavbar {
    width: 20% !important;
}

#leftNavbar > li {
    margin-right:10%;
    height: 50%;
}

#navbar {
    padding-left: 0;
    padding-right: 0%;
}

.divider {
    position:relative;
    top:-12px;
}

.right-menu-container {
    width: auto;
    margin-left:-10px;
}

.right-menu-item {
    width: 25px;
    background: none;
    -webkit-app-region: no-drag;
}

.right-menu-item:hover {
    background: none;
}

.fa-window-minimize {
    margin-bottom:10px;
}

.right-menu-item-last {
    margin-right:10px;
}

.app-navbar-btn:focus, .app-navbar-btn:active, .social-button:focus, .social-button:active {
    outline: none !important;
    box-shadow: none !important;
}  

.fa-window-minimize {
    position:relative;
    top:-2px;
}