.container {
    margin-top: 28px;
    margin-left: 100px;
}

.news-container {
    margin-top:75px;
    margin-left:16px;
}

.video-container {
    padding: 0;
    height: 368px;
    width: 662px;
    background: url("assets/info/video-background.png") no-repeat;
    transition: all .2s ease-in-out;
}

.video-container:hover {
    background: url("assets/info/video-background-hl.png") no-repeat;
}

.video-tot {
    margin-top:9px;
    margin-left:8px;
    width:645px;
}

#news-top {
    background-color: rgb(64, 43, 93);
    background: url("assets/news/news-background-r.png");
    margin-left:75px;
    background-size:cover;
    max-width:349px;
    max-height:352px;
    transition: all .2s ease-in-out;
}

#news-top:hover {
    background: url("assets/news/news-background-r-hl.png") no-repeat;
}

#news-top-banner {
    width: 100%;
}

.no-padding {
    padding: 0;
}

#news-avatar {
    position: absolute;
    top: 7%;
    left: 5.7%;
}

@media (max-width: 768px) {
    #news-top {
        margin-top: 25px;
    }
}

@media(max-width: 1200px) {
    #news-avatar {
        top: 5.5%;
        left: 7.5%;
    }
}

@media(max-width: 991px) {
    #news-avatar {
        top: 2%;
        left: 11%;
    }
}

@media(max-width: 768px) {
    #news-avatar {
        top: 6vh;
        left: 6%;
    }
}

#news-top-banner-separator {
    position: absolute;
    top:45px;
    right:50px; 
}

.info-spinner {
    margin-left:42%;
}