<div class="container slideInLeft animated" >
    <div class="row">
      <div class="col-md-7 video-container">
        <iframe class="video-tot" width="100%" height="351" [src]="video" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div id="news-top" class="col-md-4 offset-md-1 no-padding">
        <img id="news-top-banner-separator" src="assets/news/news-top-separator.png"/>
        <img id="news-avatar" src="assets/news/news-avatar.png"/>

        <div class="news-container">
            <app-newsentry *ngFor="let newsEntry of newsEntries"
            [title]="newsEntry.getTitle()"
            [datetime]="newsEntry.getDateTime()"
            [text]="newsEntry.getText()"
            >
            </app-newsentry>
            <div class="spinner-grow info-spinner" role="status" *ngIf="showLoadingSpinner">
              <span class="sr-only">Loading...</span>
            </div>
        </div>
      </div>
    </div>
</div>
