

<div id="statusbar" class="no-padding">
    <div class="server-status first-server online-server">
        <i class="fas fa-globe-americas fa-2x"></i>
        <p class="server-name-first">Server Name</p>
        <p class="text-status-first">Is <span class="green">ONLINE</span></p>
    </div>

    <img class="server-separator" src="assets/statusbar/status-separator.png"/>

    <div class="server-status offline-server">
        <i class="fas fa-globe-americas fa-2x"></i>
        <p class="server-name-second">Server Name</p>
        <p class="text-status-second">Is <span class="red">OFFLINE</span></p>
    </div>

    <img class="server-separator" src="assets/statusbar/status-separator.png"/>

    <img class="right-fade" src="assets/statusbar/right-fade.png"/>
</div>