.addon {
    background: url('assets/addons/addons-addon-background.png') no-repeat;
    width:1023px;
    height:90px;
    margin-left:-10px;
    top:-9px;
    transition: all .2s ease-in-out;
    /*scroll-snap-align: top;*/
}

.addon:hover {
    background: url('assets/addons/addons-addon-background-HL.png') no-repeat;
}

.addon-aligned-container {
    margin-left:10px;
    padding-top:10px;
}

.addon-icon-background {
    display:inline-block;
    background: url('assets/addons/addons-addon-icon-background.png') no-repeat;
    width:48px;
    height:48px;
    margin: 15px 15px 15px 15px;
}

.addon-icon {
    display:inline-block;
    margin-top:3px;
    margin-left:3px;
}

.addon-icon > img {
    width:42px;
    height:42px;
}

.addon-text-container {
    display:inline-block;
    vertical-align: top;
    width:735px;
}

p > .addon-title {
    margin-block-end: 0;
}

.addon-title {
    vertical-align: top;
    margin-top: 10px !important;
    display:inline-block;
    font-size:20px;
    color:rgb(211,161,255);
    width:100%;
}

.addon-description {
    vertical-align: top;
    display:inline-block;
    color:white;
    font-size:14px;
    margin-bottom:0px;
    position:relative;
    top:-7px;
    line-height:11px;
    margin-top:6px;
}
.addon-button-container {
    width:185px;
    height:78px;
    display:inline-block;
    position:relative;
    bottom:20px;
}

.addon-button-download-base {
    height:54px;
    color:white;
    width:162px;
    position:relative;  
    top:17.5px;
    border: 0;
    border-radius: 0;
}

.addon-button-download-base:focus, .addon-button-download-base:active {
    outline: none !important;
    box-shadow: none !important;
}

.addon-button-downloaded {
    transition: all .2s ease-in-out;
    background: url("assets/addons/addons-addon-download-button-dark.png") no-repeat;
}

.addon-button-downloaded:hover {
    background: url("assets/addons/addons-addon-download-button-dark-HL.png") no-repeat;
}

.addon-button-downloaded:active {
    background: url("assets/addons/addons-addon-download-button-dark-PD.png") no-repeat;
}

.addon-button-download {
    transition: all .2s ease-in-out;
    background: url("assets/addons/addons-addon-download-button-light.png") no-repeat;
}

.addon-button-download:hover {
    background: url("assets/addons/addons-addon-download-button-light-HL.png") no-repeat;
}

.addon-button-download:active {
    background: url("assets/addons/addons-addon-download-button-light-PD.png") no-repeat;
}