.news-entry {
    color: white;
}

.news-entry p {
    display: inline-block;
}

.avatar {
    width:6%;
    margin-left:15px;
}

.datetime {
    color: rgb(125, 107, 159);
    height: 50%;
    font-size:7px;
    margin-bottom:0;
    margin-left:5px;
}

.title {
    height: 50%;
    margin-bottom:0;
    font-size:7px;
    margin-left:5px;
}

.text {
    font-size:9.07px;
    margin-bottom: 0;
    margin-left:15px;
}