.news-entry {
    min-height:92px;
    color: white;
    font-size:0;
}

.news-entry p {
    display:inline-block;
}

.avatar {
    width:6%;
    margin-left:5px;
    display:inline-block;
    vertical-align: top;
}

.datetime {
    color: rgb(209, 186, 255);
    font-size:9px;
    width:80%;
    margin-bottom:0;
    position:relative;
    top:-5px;
}

.title {
    font-size:9px;
    margin-bottom:0;
}

.text {
    margin-top:2px;
    font-size:11.07px;
    margin-bottom:0;
    min-height:64px;
    max-width:290px;
}

.separator {
    position:relative;
    left:-7px;
    margin-left:-10px;
}

.news-entry-text-container {
    margin-left:10px;
    display:inline-block;
    width:80%;
}