<div *ngIf="show" id="app-modal">
    <div id="app-modal-blur"></div>
    <div id="app-modal-background">
        <p id="app-modal-titel">
            {{title}}
        </p>
        <p id="app-modal-text">
            {{text}}
        </p>
        <div *ngIf="showSingleButton">
            <button id="modal-single-button" type="button" class="btn btn-secondary btn-lg btn-block positive-button" (click)="OnPressSingleButton()">
                {{singleButtonText}}
            </button>
        </div>
        <div *ngIf="showDoubleButtons" id="modal-double-button-container">
            <button id="modal-double-button-negative" type="button" class="btn btn-secondary btn-lg btn-block negative-button" (click)="OnPressDoubleButtonNegative()">
                {{buttonNegativeText}}
            </button>
            <button id="modal-double-button-positive" type="button" class="btn btn-secondary btn-lg btn-block positive-button" (click)="OnPressDoubleButtonPositive()">
                {{buttonPositiveText}}
            </button>
        </div>
    </div>
</div>