#primary-container {
    height: 720px;
}

video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 51px;
    left: 0;
    z-index:-100;
}

.no-padding {
    padding: 0 !important;
}

.bottom-bar-container {
    margin-top:75px;
}

.purple-border {
    border-style:solid;
    border-color: rgb(89, 61, 125);
}

#start-button {
    background-color: rgb(22, 22, 22);
    color: rgb(62, 62, 62);
    border-radius:15px;
}

.download-bar {
    background-color: rgb(37, 27, 58);
    border-radius:15px;
    margin-left:2%;
    width:64.665%;
}
.progress {
    margin-top: 13px;
    margin-left: 3%;
    margin-right: 10%;
    max-width:80%;
}

.download-bar > .progress > .bg-success {
    background-color: rgb(170, 251, 113) !important;
}

#download-progress {
    position: absolute;
    font-size: 16px !important;
    top: 608px;
    right: 140px;
    color: rgb(170, 251, 113);
}

#download-speed {
    position: absolute;
    right: 125px;
    top: 625px;
    color: rgb(191, 146, 218);
}

#download-pause-button {
    position: absolute;
    right: 105px;
    top: 623.5px;
    color: rgb(124, 67, 175);
}

#download-exit-button {
    position: absolute;
    right: 85px;
    top: 623.5px;
    color: rgb(124, 67, 175);
}

#progress-dl {
    background-color: rgb(18, 18, 18);
}