  <!--<h1 class="title">
    {{ 'PAGES.HOME.TITLE' | translate }}
  </h1>-->

  <div id="primary-container">
    <video autoplay muted loop>
      <source src="assets/background.mp4" type="video/mp4">
    </video>
    
    <app-navbar></app-navbar>
    <app-statusbar></app-statusbar>
    <app-info></app-info>

    <div class="container bottom-bar-container">
      <div class="row">
        <div class="col-4 no-padding">
          <button id="start-button" type="button" class="btn btn-secondary btn-lg btn-block" (click)="download()">
            START GAME
          </button>
        </div>

        <div class="download-bar">
          <div class="progress" id="progress-dl">
            <div class="progress-bar bg-success" role="progressbar" [style.width.%]="progressBarWidth" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            
            <div *ngIf="hasBegunDownloading">
              <p id="download-progress">{{progress}}</p>
              <p id="download-speed">{{downloadSpeed}}</p>
            </div>
            <div *ngIf="isDownloading; else elseBlock">
              <i id="download-pause-button" class="fas fa-pause" (click)="onPauseDownload()"></i>
            </div>
            <ng-template #elseBlock>
              <div *ngIf="hasBegunDownloading">
                <i id="download-pause-button" class="fas fa-play" (click)="onResumeDownload()"></i>
              </div>
            </ng-template>
            
            <div *ngIf="hasBegunDownloading">
              <i id="download-exit-button" class="far fa-window-close" (click)="onCancelDownload()"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--<a routerLink="/detail">{{ 'PAGES.HOME.GO_TO_DETAIL' | translate }}</a>-->