#disconnected-container {
    position:absolute;
    top:0;
    left:0;
    width:1280px;
    height:720px;
    background:url("assets/disconnected/background.png");
    z-index:5;
    -webkit-app-region: drag;
}

#disconnected-primary-text {
    color:white;
    text-align:center;
    margin-top:300px;
    font-size:30px;
}

#disconnected-know-text {
    color:rgb(161,161,161);
    text-align:center;
    margin-top:260px;
    font-size:18px;
}

.disconnected-discord-icon {
    background: url("assets/icons/discord-icon-HL.png") no-repeat;
    width:22px;
    height:16px;
    display:inline-block;
}

.disconnected-twitter-icon {
    width:19px;
    height:16px;
    background: url("assets/icons/twitter-icon-HL.png") no-repeat;
    display:inline-block;
}

.remove-blue-a {
    color:inherit;
    text-decoration: none;
}

#disconnected-discord {
    color:rgb(240,255,0);
    cursor: pointer;
    font-size:16px;
    -webkit-app-region: no-drag;
}

#disconnected-discord > p {
    display:inline-block;
    margin-left:10px;
    position:relative;
    top:-2px;
}

#disconnected-contact-container {
    margin-left:547.5px;
}

#disconnected-twitter {
    color:rgb(240,255,0);
    margin-left:25px;
    cursor: pointer;
    font-size:16px;
    -webkit-app-region: no-drag;
}

#disconnected-twitter > p {
    display:inline-block;
    margin-left:10px;
    position:relative;
    top:-2px;
}

.hidden {
    display:none;
}

.click-through {
    pointer-events: none;
    -webkit-app-region: no-drag;
}

.spinner {
    margin: 0px auto 0;
    width: 70px;
    text-align: center;
  }
  
.spinner > div {
    width: 18px;
    height: 18px;
    background-color: white;

    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
    } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    }
}