<div class="fadeIn animated">
    <p id="settings-title">{{'SETTINGS.TITLE' | translate}}</p>
    <div id="settings">
        <p id="settings-general" class="purple-text">{{'SETTINGS.TEXT-GENERAL' | translate}}</p>

        <div (click)="OnPressHome()">
            <img id="settings-house" src="assets/settings/settings-top-right-home.png"/>
        </div>
        
        <div id="settings-line-one">
            <button id="automatic-update-button" class="social-button btn my-2 my-sm-0" type="submit" (click)="OnPressToggleAutomaticUpdates()">
                <div class="btn-content-wrapper">
                    <img id="automatic-update-cross" *ngIf="toggleActive" src="assets/settings/settings-cross-button-cross.png">
                </div>
            </button>
            <p id="settings-enable-automatic-update">{{'SETTINGS.TEXT-ENABLE-UPDATES' | translate}}</p>
            <p id="settings-recommended" class="purple-text">({{'SETTINGS.TEXT-RECOMMENDED' | translate}})</p>
        </div>
    
        <p id="settings-game-language">{{'SETTINGS.TEXT-GAME-LANGUAGE' | translate}}</p>
        <div class="dropdown">
            <button id="settings-dropdown-locale-button" class="btn btn-secondary dropdown disabled" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="settings-dropdown-text-color">English (US)</span>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">English (US)</a>
              <a class="dropdown-item" href="#">...</a>
              <a class="dropdown-item" href="#">...</a>
            </div>
          </div>
    
        <p id="settings-game-location" class="purple-text">{{'SETTINGS.TEXT-GAME-LOCATION' | translate}}</p>
    
        <div id="settings-line-two">
            <input id="settings-game-path-field" value="{{directoryPath}}" type="text" class="form-control" aria-describedby="emailHelp" disabled>
            <button id="settings-change-location-button" class="social-button btn my-2 my-sm-0" type="submit" (click)="OnPressChangeGameLocation()">
                <p class="inner-movedown-content" id="inner-settings-change-location-button">
                    {{'SETTINGS.BUTTON-CHANGE-GAME-LOCATION' | translate}}
                </p>
            </button>
            <button id="settings-clear-path-button" class="social-button btn my-2 my-sm-0" type="submit" (click)="OnPressClearPath()">
                <p class="inner-movedown-content" id="inner-settings-clear-path-button">
                    {{'SETTINGS.BUTTON-CLEAR-PATH' | translate}}
                </p>
            </button>
        </div>
    
        <div id="settings-line-three">
            <button id="settings-reset-button" class="social-button btn my-2 my-sm-0" type="submit" (click)="OnPressReset()">
                <p class="inner-movedown-content" id="inner-settings-reset-button">
                    {{'SETTINGS.BUTTON-RESET' | translate}}
                </p>
            </button>
            <button id="settings-save-button" class="social-button btn my-2 my-sm-0" type="submit" (click)="OnPressSaveChanges()">
                <p class="inner-movedown-content" id="inner-settings-save-button">
                    {{'SETTINGS.BUTTON-SAVE-CHANGES' | translate}}
                </p>
            </button>
        </div>
    </div>
</div>
